@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

*{
    margin: 0;
	padding: 0;
	border: 0;
}

html, body{
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100%;
    width: 100%;
}

.box-conteudo{
    border-radius: 12px;
    margin: 60px auto;
    display: flex;
    justify-content: center;
    width: 1280px;
    height: 700px;
    background-color: #121214;
}


.header-logo{
    display: flex;
    justify-content: center;
}

.header-logo img{
    width: 229px;
    height: 68px;
    margin-top: 42px;
}

.subtitle-logo{
    display: flex;
    justify-content: center;
    margin-top: 73px;
    line-height: 30px;
    font-size: 22px;
    font-weight: 600;
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;

}

.box-icons{
    color: grey;
    margin-top: 60px;
}


.box-icons ul{
    width: 700px;
    display: flex;
    list-style: none;
}

.box-icons li{
    cursor: pointer;
    overflow: scroll;
    overflow: hidden;
    border-radius: 5px;
    width: 160px;
    height: 160px;
    background-color: rgb(39, 39, 39);
    margin-left: 26px;
}

.box-icons li:hover{
    border: 1px solid white;
}

.box-perfil{
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.box-perfil:hover{
    color: white;
}

.perfil-img:hover{
    transition: 1s;
    transform: scale(1.2);
}

.class{
    display: flex;
    flex-direction: column;
    
}

.vector{
    background-image: url(img/Vector\ 1\ copy.svg);
    background-repeat: no-repeat;
    background-size: 53px;
    background-position: 50 50;

}

.vector:hover{
    transition: 0.6s;
    background-image: url(img/Vector\ 1\ copy\ 2.svg);
}

.name-perfil{
    margin-top: 8px;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-left: 23px;
}

.button-style{
    cursor: pointer;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 500;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #121214;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 15 45;
    margin-left: 278px;
    margin-top: 60px;
}

.button-style:hover{
    transition: 0.3s;
    background-color: white;
    color: black;
}
